*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.game-board{
    width: 100%;
    height: 100vh ;
    border-bottom: 360px rgb(9, 187, 9) solid;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0px;
    width: 80px;
    animation: pipe-animation 1.2s infinite linear ;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0px;
    
}
.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear
}
.game-over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
}

.game-over h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.game-over button{
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
        to {
            right:100%;
        
    }
}